<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <div *ngIf="loginForm?.get('email')?.invalid && loginForm?.get('email')?.touched" class="error-message">
      El correo electrónico es obligatorio y debe ser válido.
    </div>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <div *ngIf="loginForm?.get('password')?.invalid && loginForm?.get('password')?.touched" class="error-message">
      Requiere una contraseña valida.
    </div>

    <ion-button expand="full" type="submit" [disabled]="loginForm?.invalid">Login</ion-button>
  </form>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
</ion-content>
